body{

    margin:0;

    background:#f4f6f9;

    font-family:Arial;
}

.container{

    max-width:1000px;

    margin:auto;

    padding:20px;
}

.topo{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;
}

.btn{

    background:#2563eb;

    color:white;

    text-decoration:none;

    padding:12px 18px;

    border-radius:8px;
}

.card{

    background:white;

    padding:20px;

    border-radius:10px;

    margin-bottom:15px;

    box-shadow:
    0 2px 8px rgba(
    0,0,0,.1
    );
}

button{

    background:#22c55e;

    color:white;

    border:none;

    padding:10px 15px;

    border-radius:6px;

    cursor:pointer;
}